body
{
    font-family: "Fjalla One";
}

header
{
    font-family: "Playfair Display";
    text-align: center;
    font-size: 120%;
}

.wrapper
{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.results
{
    flex: 1.25;
    padding: 1%;
}

.controls
{
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 10% 5%;
}

.prev
{
    float: left;
}

.next
{
    float: right;
}

nav
{
    margin-bottom: 50px;
}


/*
    Article styling
*/
article
{
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
}

/*
    Fixing image overflow(float right) by using display flex
*/
.outer-flex
{
    display: flex;
    flex-flow: row wrap;
    align-items: center; 
}

.inner-flex
{
    flex: 1.5;
}

.inner-flex p
{
    margin: 8px 8px 14px 8px;
}

img
{
    flex: 1;
    max-width: 200px;
    margin-left: 20px;
    align-self: flex-start;
}

span
{
    background-color: #ccc;
    padding: 4px;
    margin: 4px;    
}

article div div p.keywords
{
    flex: 1.5;
    font-size: 80%;

    display:flex;
    flex-flow: row wrap;
    align-items: center; 
    justify-content: normal;
}

a
{
    color: black;
}